<%- include("./partials/navbar") -%>

<h1>Halaman Update Data Mobil</h1>

<form>
    <input type="text" id="name" placeholder="Masukan nama" />
    <select id="size">
        <option value="big">big</option>
        <option value="small">small</option>
    </select>
    <input type="number" id="price" placeholder="Masukan Harga" />
    <input type="text" id="photo" placeholder="Masukan photo"/>
    <button type="submit" id="btn">Update</button>
</form>

<script>
    const inputName = document.getElementById("name");
    const inputSize = document.getElementById("size");
    const inputPrice = document.getElementById("price");
    const inputPhoto = document.getElementById("photo");
    const btnSubmit = document.getElementById("btn");
    const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });

    window.addEventListener("load", async () => {
        const dataReq = await fetch(`/api/v1/cars/${params.id}`);
        const {message, data } = await dataReq.json()
        inputName.value = data.name;
        inputSize.value = data.size;
        inputPrice.value = data.price;
        inputPhoto.value = data.photo;    
    })

    btnSubmit.addEventListener("click", async (event) => {
        event.preventDefault();
        const dataAdd = {
            name: inputName.value,
            size: inputSize.value,
            price: inputPrice.value,
            photo: inputPhoto.value
        }
        const resUpdate = await fetch(`/api/v1/cars/${params.id}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(dataAdd)
        })
        setTimeout(() => {
            window.location = "/";
        }, 1000)
    })
</script>

<%- include ("./partials/footer") -%>